# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Testing
coverage

# Environment variables
.env

# Build files
build/
dist/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.swp
